@font-face {
  font-family: "NanumSquareRoundR";
  src: url("../src/fonts/NanumSquareRoundR.ttf") format("truetype");
  /* 폰트 파일의 경로와 형식을 정확하게 지정해야 합니다. */
  /* 필요에 따라 font-weight 및 font-style을 지정할 수도 있습니다. */
}
@font-face {
  font-family: "NanumSquareRoundB";
  src: url("../src/fonts/NanumSquareRoundB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundEB";
  src: url("../src/fonts/NanumSquareRoundEB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundL";
  src: url("../src/fonts/NanumSquareRoundL.ttf") format("truetype");
}
input,
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
* {
  font-family: "NanumSquareRoundR";
  background-color: #0d1117;
  color: white;
}
ul,
li,
form {
  background-color: #161b22;
}
hr {
  background-color: #89929b;
  border: 0;
  height: 1px;
}
button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
input {
  font-size: 20px;
  width: 10ch;
  border-radius: 5px;
  background-color: #0d1117;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.ramenbuttons {
  padding: none;
}
.uparrow {
  background-color: #fa7970;
  margin-left: 10px;
}
.downarrow {
  background-color: #1f6feb;
  margin-left: 5px;
}
.xbutton {
  background-color: #cea5fb;
  margin-left: 5px;
}
.addbutton {
  background-color: #238636;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
}

h1 {
  font-family: "NanumSquareRoundEB";
}
h2 {
  font-family: "NanumSquareRoundB";
}
.ramenstorage__title {
  color: white;
}
